<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email%> </h1>
    <h2>We've got a new blog for you <%=@blog.title%> </h2> 
    <a href="http://localhost:3000/blogs/<%=@blog.id%>">Blog link </a>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>